* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  height: 100vh;
}


.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 50%;
  background-color: black;
  margin: auto;
  margin-top: 10px;
  border-radius: 30px;
 
}

.form_content {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(249, 232, 51, 1) 0%,
    rgba(250, 196, 59, 1) 100.2%
  );
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  padding: 20px;
  border-radius: 30px;
  border-style: dashed;
}

.text{
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid rgb(175, 169, 169);
  width: 100%;
  font-size: 20px;
}

.btn{
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 10px 30px 10px 30px;
  width: 30%;
  background-color: red;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
}

.msg{
  /* background-color: rgb(40, 147, 40); */
  width: 30%;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  /* color: white; */
  text-align: center;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
}
